@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Oswald:wght@500&family=Quicksand&display=swap');
body{
    background-color: #f4f1ee;
    padding: 0px;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
}
#cabecalho{
    background-image:linear-gradient(to left,#161A30,#36355f);
    display: flex;
    color: white;
    align-items: center;
    padding: 5px;
}
#menu{
    width: 100px;
    margin-left: 70%;
    background-color: #161A30;
    color: aliceblue;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 12px;
}
#menu:hover{
    background-color: #31304D;
    cursor: pointer;
}
#categorias{
    width: 100%;
    background-color: #31304D;
    display: flex;
}
.categoria{
    padding-left: 10px;
    text-decoration: none;
    color: white;
}
#corpo{
    display: flex;
    flex-direction: row;
}
#post{
    padding:10px;
    width: 50%;
}
.titulo{
    font-size: 20px;
}
.imagempost{
    max-width: 40%;
}
.descricao{
    font-size: 12px;
}   
#sobre{
    width: 50%;
}
a{
    text-decoration: none;
    color: white;
}
#imagemperfil{
    padding-top: 10px;
    padding-left: 10px;
    max-width: 200px;
    border-radius:100px;
}
#config{
    width: 30px;
    height: 30px;
}
#config:hover{
    cursor: pointer;
}
#editarperfil{
    width: 80px;
    height: 40px;
    margin-left: 70%;
    background-color: #161A30;
    color: aliceblue;
    border-radius: 5px;
    border: 1px solid white;
    font-size: 12px;
}
#editarperfil:hover{
    background-color: #31304D;
    cursor: pointer;    
}
#nomeperfil{
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
#emailperfil{
    padding-left: 10px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

